---
import { AvatarGroup } from 'accessible-astro-components'
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import ExternalLink from '@components/ExternalLink.astro'
import SponsorImage from '@components/SponsorImage.astro'

import sponsor1 from '@assets/images/sponsors/sponsor_amgen.png'
import sponsor2 from '@assets/images/sponsors/sponsor_abbvie.png'
import sponsor3 from '@assets/images/sponsors/sponsor_UK.png'
import sponsor4 from '@assets/images/sponsors/sponsor_abromiskiu.png'
import sponsor5 from '@assets/images/sponsors/sponsor_sapiens.png'
import sponsor6 from '@assets/images/sponsors/sponsor_VU_MF.png'
---

<DefaultLayout title="Pradžia">
  <Hero />
  <section class="my-24">
    <div class="container">
      <h2 class="mb-12 text-6xl">Dalyvavimas</h2>
      <p class="mb-6 text-2xl">
        Pirmasis etapas vyks nuotoliniu būdu <b>spalio 25 d.</b> Registracija jau atidaryta ir nuorodą galite rasti
        <ExternalLink href="https://forms.gle/68un9hhzhYMXGumu8">čia.</ExternalLink>.
      </p>
      <p class="mb-6 text-2xl">
        Užduočių sunkumas ir sprendimo tempas yra pritaikyti 9-12 kl. moksleiviams, tačiau gali dalyvauti ir žemesnėje nei 9 klasėje esantys moksleiviai.
      </p>
      <p class="text-2xl">
        Antrojo etapo, dalyvių maitinimas ir transportas iki renginio vietos bus finansuojamas renginio organizatorių.
      </p>
    </div>
    <section class="my-24">
      <div class="space-content container">
        <h2 class="mb-8 text-6xl">Remėjai</h2>
        <p class="text-2xl">Dėkojame mūsų remėjams, kurie suteikia galimybę įvykdyti šią olimpiadą.</p>
        <AvatarGroup display="grid" gridItemsSize="300px" gridGap="2rem">
          <a href="https://www.amgen.com/" target="_blank" rel="noopener noreferrer">
            <SponsorImage img={sponsor1} height="150px" alt="Amgen" />
          </a>
          <a href="https://www.abbvie.com/" target="_blank" rel="noopener noreferrer">
            <SponsorImage img={sponsor2} height="150px" alt="AbbVie" />
          </a>
          <a href="https://www.utenos-kolegija.lt/" target="_blank" rel="noopener noreferrer">
            <SponsorImage img={sponsor3} height="150px" alt="UK Sponsor" />
          </a>
          <a href="https://www.abromiskes.lt/" target="_blank" rel="noopener noreferrer">
            <SponsorImage img={sponsor4} height="150px" alt="Abromiškių reabilitacijos ligoninė" />
          </a>
          <a href="https://www.sapiens.lt/" target="_blank" rel="noopener noreferrer">
            <SponsorImage img={sponsor5} height="150px" alt="Sapiens" />
          </a>
          <a href="https://www.mf.vu.lt/" target="_blank" rel="noopener noreferrer">
            <SponsorImage img={sponsor6} height="150px" alt="Vilniaus universiteto Medicinos fakultetas" />
          </a>
        </AvatarGroup>
        <p class="text-2xl">
          Lietuvos moksleivių medicinos olimpiados organizavimas reikalauja finansinių bei kitų resursų ir išteklių, tad
          ieškome partnerių, kurie galėtų prisidėti prie šio renginio paramos.
        </p>
        <p class="text-2xl">
          Jei norėtumėte paremti LitMO, kviečiame rašyti į <span class="text-gradient">litmo@olimpiados.lt</span>
        </p>
      </div>

      <style>
        .text-gradient {
          background: linear-gradient(
            315deg,
            light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
            light-dark(var(--color-secondary-300), var(--color-primary-200))
          );
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .avatar {
          border: 1px solid var(--border-color-subtle);
          border-radius: var(--radius-md);
          padding: var(--space-s);
        }
      </style>
    </section>
  </section>
</DefaultLayout>
